<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <body>
        <header>
            <nav>
                <div class="navTitle">
                    <h2><a href="">Navigation</a></h2>
                </div>
                <div class="navLink">
                    <a href="/admin">Admin</a>
                    <a href="/admin/branches">Branches</a>
                    <a href="/admin/shelfs">Shelfs</a>
                    <a href="/admin/staffs">Staffs</a>
                </div>
                <div class="navGoToAdmin">
                    <a href="/index">Index</a>
                </div>                
            </nav>
        </header>
        <main>
            <div class="left-add-find-delete">
                <div class="insert-to-table">
                    <!-- To add admin-->
                </div>
                <div class="find-by-id">
                    <!-- To find admin by Id -->
                </div>
                <div class="fetch-table">
                    <!-- To select all the datat from the tabel 
                        but it will have to more additional columens on the tabel
                        one upaate button and the other for the delate button 
                    -->
                </div>
            </div>
            <div class="right-update">
                <!-- if the update button is cliched all the data of the each columen of the given 
                 value will be displayed to be edited -->
            </div>
        </main>
</body>
</html>