<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Document</title>
    <script defer src="../../public/js/staffFE.js"></script> 
</head>
<body>
    <header>
        <nav>
            <div class="navTitle">
                <h2><a href="">Navigation</a></h2>
            </div>
            <div class="navLink">
                <a href="/admin">Admin</a>
                <a href="/admin/branches">Branches</a>
                <a href="/admin/shelfs">Shelfs</a>
                <a href="/admin/staffs">Staffs</a>
                <a href="/catagory">Catagory</a>
                <a href="/shelfWithCatagory">shelf With Catagory</a> 
            </div>
            <div class="navGoToAdmin">
                <a href="/index">Index</a>
            </div>                
        </nav>
    </header>
    <main class="admin-main">
        <div class="what-header">
            <h1>Staff Management</h1>
        </div>
        <div class="admin-management">
            <div class="left-add-find-delete">
                <div class="insert-to-table">
                    <h3>Add Staff</h3>
                    <form id="addStaffForm" class="addStaffFormIpt">
                        <div class="firstPart">
                            <input type="text" id="staffName" placeholder="Name" required />
                            <input type="text" id="staffRole" placeholder="Role" required />
                            <input type="text" id="staffPhoneNumber" placeholder="Phone Number" required />
                            <input type="email" id="staffEmail" placeholder="Email" required />
                        </div>
                        <div class="secondPart">
                            <input type="date" id="staffHireDate" placeholder="Hire Date" required />
                            <input type="number" id="staffSalary" placeholder="Salary" required />
                            <input type="text" id="staff_brancheID" placeholder="brancheID" required />
                            <input type="text" id="staff_adminID" placeholder="adminID" required />
                            <button type="submit" class="add-btn">Add Staff</button>
                        </div>
                    </form>                    
                </div>
                
                <div class="find-by-id">
                    <h3>Find Staff by ID</h3>
                    <form id="findStaffForm" class="findAdminFormIpt">
                        <input type="text" id="staffId" placeholder="Staff ID" required />
                        <button type="submit" class="fetch-btn">Fetch Staff</button>
                    </form>
                    <div id="staffDetails"></div> </div>
        
                <div class="fetch-table">
                    <h3>All Staffs</h3>
                    <table id="staffTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Hire Date</th>
                                <th>Salary</th>
                                <th>brancheID</th>
                                <th>adminID</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            </tbody>
                    </table>
                </div>
            </div>
        
            <div class="right-update">
                <h3>Update Staff</h3>
                <form id="updateStaffForm">
                    <input  id="updateStaffId" />
                    <input type="text" id="updateStaffName" placeholder="Name" required />
                    <input type="text" id="updateStaffRole" placeholder="Role" required />
                    <input type="text" id="updateStaffPhoneNumber" placeholder="Phone Number" required />
                    <input type="email" id="updateStaffEmail" placeholder="Email" required />
                    <input type="date" id="updateStaffHireDate" placeholder="Hire Date" required />
                    <input type="number" id="updateStaffSalary" placeholder="Salary" required />
                    <input type="text" id="updateStaff_brancheID" placeholder="brancheID" required />
                    <input type="text" id="updateStaff_adminID" placeholder="adminID" required />
                    <button type="submit" class="update-btn">Update Staff</button>
                </form>
            </div>
        </div>            
    </main>
</body>
</html>