<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="navTitle">
                <h2><a href="">Navigation</a></h2>
            </div>
            <div class="navLink">
                <a href="index">Index</a>
                <a href="members">Memeber</a>
                <a href="non-members">Non-Member</a>
                <a href="reservation">Reservation</a>
                <a href="books">Book</a>
                <a href="fines">Fines</a>
                <a href="transaction">Transaction</a>
                <a href="catagory">Catagory</a>
            </div>
            <div class="navGoToAdmin">
                <a href="admin">admin</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="left-add-find-delete">
            <div class="insert-to-table">

            </div>
            <div class="find-by-id">

            </div>
            <div class="fetch-table">

            </div>
        </div>
        <div class="right-update">

        </div>

    </main>
</body>
</html>