<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="navTitle">
                <h2><a href="">Navigation</a></h2>
            </div>
            <div class="navLink">
                <a href="index">Index</a>
                <a href="members">Memeber</a>
                <a href="non-members">Non-Member</a>
                <a href="reservation">Reservation</a>
                <a href="books">Book</a>
                <a href="fines">Fines</a>
                <a href="transaction">Transaction</a>
                <a href="catagory">Catagory</a>
                <a href="shelfWithCatagory">shelf With Catagory</a>
            </div>
            <div class="navGoToAdmin">
                <a href="admin">admin</a>
            </div>
        </nav>
    </header>
    <main class="admin-main">
        <div class="what-header">
            <h1>Non-Member Borrower Management</h1>
        </div>
        <div class="admin-management">
            <div class="left-add-find-delete">
                <div class="insert-to-table">
                    <h3>Add Non-Member Borrower</h3>
                    <form id="addNonMemberBorrowerForm" class="addStaffFormIpt">
                        <div class="firstPart">
                        <input type="text" id="borrowerName" placeholder="Name" required />
                        <input type="text" id="borrowerAddress" placeholder="Address" required />
                        <input type="text" id="borrowerPhoneNumber" placeholder="Phone Number" required />
                        <div class="form-group"><input type="checkbox" id="IDProof_Status" class="custom-checkbox" /> <label for="IDProof_Status"class="custom-label" class="custom-label">ID Proof Verified</label></div>
                        </div>
                        <div class="secondPart">
                        
                        <input type="text" id="borrowerStatus" placeholder="Status" required />
                        <button type="submit" class="add-btn">Add Borrower</button>
                        </div>
                    </form>                    
                </div>
                
                <div class="find-by-id">
                    <h3>Find Non-Member Borrower by ID</h3>
                    <form id="findNonMemberBorrowerForm" class="findAdminFormIpt">
                        <input type="text" id="borrowID" placeholder="Borrow ID" required />
                        <button type="submit" class="fetch-btn">Fetch Borrower</button>
                    </form>
                    <div id="nonMemberBorrowerDetails"></div> 
                </div>
        
                <div class="fetch-table">
                    <h3>All Non-Member Borrowers</h3>
                    <table id="nonMemberBorrowerTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>ID Proof Status</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            </tbody>
                    </table>
                </div>
            </div>
        
            <div class="right-update">
                <h3>Update Non-Member Borrower</h3>
                <form id="updateNonMemberBorrowerForm" >
                    <input type="hidden" id="updateBorrowID" />
                    <input type="text" id="updateBorrowerName" placeholder="Name" required />
                    <input type="text" id="updateBorrowerAddress" placeholder="Address" required />
                    <input type="text" id="updateBorrowerPhoneNumber" placeholder="Phone Number" required />
                    <div class="form-group"><input type="checkbox" id="updateIDProof_Status"   class="custom-checkbox"/> <label for="updateIDProof_Status" class="custom-label">ID Proof Verified</label></div>
                    <input type="text" id="updateBorrowerStatus" placeholder="Status" required />
                    <button type="submit" class="update-btn">Update Borrower</button>
                </form>
            </div>
            <script src="../../public/js/nonMemberBorrwerFE.js"></script>
        </div>            
    </main>
</body>
</html>